<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css" integrity="sha512-o/MhoRPVLExxZjCFVBsm17Pkztkzmh7Dp8k7/3JrtNCHh0AQ489kwpfA3dPSHzKDe8YCuEhxXq3Y71eb/o6amg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <%-include('nav') -%>
        <form action="/update/<%= user._id %>" method="post" enctype="multipart/form-data">
      <label>
          NAME
      </label>
      <input type="text" name="name" value = "<%= user.name %>"/>
    </br></br></br>
      <label>
        EMAIL
    </label>
    <input type="text" name="email" value = "<%= user.email %>" />
</br></br></br>
    <label>
      PHONE
    </label>
    <input type="number" name="phone" value="<%= user.phone %> "/>
</br></br></br>
<label>
   City
  </label>
  <input type="text" name="city" value="<%= user.city %> "/>
</br></br></br>
<label>
   Postcode
  </label>
  <input type="number" name="postcode" value="<%= user.postcode %> "/>
</br></br></br>


    <input type="file" name="image">
    <img src="/<%= user.image %>" width="100">
    <input type="'hidden" name="old_image" value="<%= user.image %>"/>
</br></br></br>
<input type="submit" value="Update User"/>
</form>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/js/bootstrap.bundle.min.js" integrity="sha512-ndrrR94PW3ckaAvvWrAzRi5JWjF71/Pw7TlSo6judANOFCmz0d+0YE+qIGamRRSnVzSvIyGs4BTtyFMm3MT/cg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>